body {
    font-family: arial, courier; 
    margin: 0;
}

hr.override {
    height: 1px;
    border-top: 1px solid grey;
    margin-top: 0;
    margin-bottom: 0;
}

#heading {
    padding: 10px;
    text-align: center;
    font-size: 36pt;
    /*background: #333;*/
    background-color: #323232;
}

a:link {
  color: blue;
  text-decoration: none;
}

#heading a {
    text-decoration: none;
    color: #f2f2f2;
}

#heading a:hover {
    color: #4e4e4e;
}

#menu {
    /*background-color: #333;*/
    background-color: #323232;
    overflow: hidden;
}

#menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16pt;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}

#menu .right_button {
    float: right;
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
    color: grey;
}

#login {
    text-align: center;
    font-size: 150%;
    padding-bottom: 10px;
}

#login-box {
    padding: 30px;
    text-align: left;
    border: transparent;
    background: #f3f3f3;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#welcome {
    font-size: 18pt;
    position: absolute;
    margin: 1%;
    float: left;
}

#session {
    font-size: 18pt;
    margin: 1%;
    float: right;
}

.motd-wrapper {
    border: transparent;
    border-radius: 10px;
    background: #f3f3f3;
    width: 20%;
    float: right;
    clear: both;
    margin: 0 1% 1% 0;
}

.motd-wrapper .ann-title {
    margin-top: 1%;
    text-align: center;
    font-size: 150%;
}

.motd-wrapper #user-motd {
    font-size: 14pt;
    overflow-wrap: break-word;
    padding: 10px;
}

form .field {
    margin-bottom: 5px;
    width: 50%;
}

form #login_button {
    background-color: #333;
    color: #f2f2f2;
    padding: 5px 20px;
}

button {
    padding: 7px;
    font-size: 14pt;
    color: #f2f2f2;
    border-radius: 10px;
    border: transparent;
    background: #333;
    cursor: pointer;
}

#mapdiv {
    height: 300px;
    width: 600px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
}

/*#change-form { original backup
    border: transparent;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 5%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1%;
}*/

#change-form {
    font-size: 110%;
    border: transparent;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 3% 5%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#change-form { marius
    background: #d0dcdb;
    padding: 5%;
    min-width: 30%;
    height: 35rem;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}*/

#change-form form input{
    margin-top: 1%;
    margin-bottom: 5%;
    width: 100%;
}

#change-button-show {
    float: left;
    position: relative;
    top: 2.5rem;
    margin: 1%;
}

#change-form button {
    /*float: left;*/
    /*margin: 1%;*/
    margin-bottom: 1%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

#change-button-hide {
    /*float: left;*/
    /*margin: 1%;*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#centre-warn {
    font-size: 16pt;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

/*NEW*/
.info-container {
  display: flex;
  flex-direction: row;
}
.intro-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 40rem;
  line-height: 1.5;
}
.intro-text p {
  font-size: 18pt;
}
.intro-text button {
  margin-top: 20px;
}
.references {
  display: flex;
  justify-content: center;
  align-items: center;
}
.references img {
  width: 80%;
}

.back {
  height: 3rem;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.buttons button {
  margin: 20px 25px;
  width: 120px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 28rem);
  grid-column-gap: 10px;
  width: 100%;
  justify-content: center;
}
.specs {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background: #323232;
  color: #f2f2f2;
}
.specs button {
  width: 100px;
  margin-left: 5px;
  background: #c7c7c7;
  color: #000;
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.gallery img {
  width: 80%;
}